##
##  requirements.txt
##  LatticePoly
##
##  Created by mtortora on 30/12/2021.
##  Copyright © 2021 ENS Lyon. All rights reserved.
##

vtk
numba
numpy
scipy
mpi4py
psutil
fileseq
networkx
matplotlib
